<div class="modal zsq-msg-model" id="_ZTMSG">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close a-close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">提示信息</h4>
      </div>
      <div class="modal-body" style="max-height: 350px;overflow: auto;">
      	<ul>
  		<@_.each(data,function(item){@>
        <li><@=item@></li>
        <@});@>
      	</ul>
      </div>
    </div>
  </div>
</div>