//overdue
//
.ant-col.gutter-row > div {background: #fafcff; min-height: 80px; margin:1px 0.5px 0 0.5px; border:0.5px #e5e5e5 solid;padding:3px}
.ant-layout-content-ext {background: #fff; padding: 24px; margin: 0; min-height: 680px}
// model
.b-model {margin-bottom: 10px;background-color: #fafcff}
.b-model > .b-model-head {border-bottom: 1px #e5e5e5 solid;line-height: 45px; padding-left: 10px; background-color: #064a88; color: white}
.b-model > .b-model-content {padding: 1px}
//form
.b-vertical-form.ant-form-vertical .ant-form-item{padding-bottom: 0px; margin-bottom: 0px}
.b-form-row  {background-color: #e6eaea7d}
.b-form-item {padding:0px 3px;}
.b-form-item .ant-form-item-label {border-bottom: 1px #b5a3a3 solid; margin-bottom: 5px}
.b-form-bottom {background-color: #0f375438;padding: 5px 0px}
.b-form-item .ant-form-item-control-wrapper{min-height: 54px}
.b-form-item .ant-input-number{width:100% }
.editable-cell-text-wrapper a {margin-right: 8px;}